div{
  overflow: hidden;
}
/*HEADER*/

.jumbotron{
    background-image: url(Banner/Slider2.png);
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.carousel-indicators {
    text-align: right;
    float: right;
    right: 2% !important;
    left: inherit;
} */
.carousel-control-prev{
    top: 90%;
    left: 45%;
    opacity: 100%;
}
.carousel-control-next{
    top: 75%;
    right: 40%;
    opacity: 100%;
}
/*MAPS*/
.tategaki{
    direction: ltr;
    display: inline-block;
    text-align: left;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.highlight{
    background-color: #ec9700;
}

.maps .row p{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 30px;
}

.bg-navcolor{
    background-color: #3185da;
}
.text-white{
    color: white;
    font-family: sans-serif;
}

/*MAPS*/
.bgimg-maps {
    background-image: url('Tategaki/maps.png');
}
.box-vertikal{
    float: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-wrap: wrap;
}
.strip-vertikal{
    background-color: #ec9700;
    }
.text-vertikal{
    text-align: left;
    transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 12px;
}

/*SPECIAL*/

h1{
    font-size: 90px;
}
@media screen and (min-width: 601px) {
  div.example {
    font-size: 90px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 50px;
  }
}
.image-special{
    background-image: url('SpecialContent/SC_Pic1.png');
}
.box-special{
    height: auto;
    position: relative;
}
.text-special{
    float: right;
    margin-left: 50%;
}
.content-special{
   position: relative;
}
.content-image-2{
    margin-top: 50px;
}

/*COMPANY*/

.image-company{
    background-image: url('Company/C1.png');
}
.box-company{
    margin-top: 80px;    
    float: right;
    text-align: right;
    margin-left: 60%;
}
.text-company{
    float: left;
    position: relative;
}
.content-company{
   position: relative;
   margin-top: 300px;
   margin-bottom: -800px;
}
.content-image-2{
    margin-top: 50px;
}

/*WORK*/

.image-work{
    background-image: url('Work/W1.png');
}

.box-work{
    margin-top: 20px;
    position: relative;
    float: left;
    padding-left: 150px;
}
.text-work{
    float: right;
    margin-top: 150px;
    position: relative;
}

/*recruit*/
.image-recruit{
    background-image: url('Recruit/Recruit.png');
}

.box-recruit{
    margin-top: -110px;
    margin-bottom: -210px;
    position: absolute;
    float: left;
    padding-left: 60px;
}
.text-recruit{
    margin-left: 40%;
    float: right;
    margin-top: 30px;
    margin-bottom: -300px;
    position: relative;
}
.button1 {
  background-color: #fff;
  border: none;
  color: black;
  height: 200px;
  padding: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: -100px;
  margin-left: -2px;
}
.button2 {
  background-color: #fff;
  border: none;
  color: black;
  width: 180px; 
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  margin-top: -100px;
  margin-left: -2px;
}

.button3 {
  background-color: #fff;
  border: none;
  color: black;
  width: 450px; 
  padding: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
.rb{
  float: right;
}
.lb{
  float: left;
}

/*FOOTER*/
.box-footer-1{
    background-color: #2065c5;
}
.box-footer-2{
    background-color: #1f5bad;
}
